.type-1 {
  background-color: brown;
}

.type-2 {
  background-color: olive;
}

.type-3 {
  background-color: yellow;
}

.type-4 {
  background-color: green;
}

.type-5 {
  background-color: aqua;
}

.type-6 {
  background-color: blue;
}

.type-7 {
  background-color: purple;
}

.picked {
  outline: 0.5rem inset greenyellow;
  outline-offset: -0.5rem;
}

.target {
  outline: 0.5rem inset rgb(218 78 187);
  outline-offset: -0.5rem;
}

.hidden {
  visibility: hidden;
}
