.picked,
.target,
.tile-face {
  border-radius: 50%;
}

.picked {
  /* outline-color: greenyellow; */
  box-shadow: 0 0 2px 2px greenyellow;
}

.target {
  /* outline-color: rgb(218 78 187); */
  box-shadow: 0 0 2px 2px rgb(218 78 187);
}

.hidden {
  visibility: hidden;
}
