.type-1 {
  background-color: brown;
}

.type-2 {
  background-color: olive;
}

.type-3 {
  background-color: yellow;
}

.type-4 {
  background-color: green;
}

.type-5 {
  background-color: aqua;
}

.type-6 {
  background-color: blue;
}

.type-7 {
  background-color: purple;
}
