* {
  /* border: 1px solid rgb(0 255 60); */
}

body {
  /* ToDO: this must be dynamically changeable form JS! */
  background-image: url("../assets/theme-2/futuristic-retro-landscape-s-neon-colors-sun-mountains-style-digital-cyber-surface-vector-illustration-163569210.jpeg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --canvas-tile-width: 77px;
  --canvas-tile-height: 77px;
  --game-view-mid-column-width: 34.25rem;
}

#view-game-arena {
  display: grid;
  grid-template-rows:
    5.5rem
    auto
    auto;
  grid-template-columns: auto var(--game-view-mid-column-width) auto;
  grid-auto-flow: row;
  row-gap: 2rem;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  justify-content: center;
  justify-items: center;
  align-items: end;
}

#game-canvas {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(7, var(--canvas-tile-width));
  grid-template-rows: repeat(7, var(--canvas-tile-height));
  grid-auto-flow: row;
}

#view-game-arena aside {
  grid-area: aside;
}

#view-game-arena > header {
  grid-area: header;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: var(--game-view-mid-column-width);
}

#view-game-arena footer {
  grid-area: footer;
}

#view-game-arena-footer-image img {
  max-width: var(--game-view-mid-column-width);
}

.statistics-top {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-color: rgb(73 5 210);
  text-align: center;
  box-shadow: 0 6px 6px 6px black;
}

.statistics-top > .label {
  padding-top: 1rem;
  vertical-align: bottom;
  line-height: 1.5rem;
  color: cadetblue;
}

.statistics-top > .value {
  line-height: 1rem;
  color: chartreuse;
}
