* {
  /* border: 1px solid rgb(0 255 60); */
}

body {
  /* ToDO: this must be dynamically changeable form JS! */
  background-image: url("../assets/theme-2/futuristic-retro-landscape-s-neon-colors-sun-mountains-style-digital-cyber-surface-vector-illustration-163569210.jpeg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

#counter {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  background-color: rgb(73 5 210);
  margin-top: 20px;
  color: white;
  text-align: center;
  line-height: 40px;
  position: absolute;
  left: 230px;
}

#clock {
  background-color: rgb(73 5 210);
  height: 40px;
  width: 120px;
  border-radius: 20px;
  margin-top: 20px;
  color: white;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 230px;
}

#view-game-arena {
  display: grid;
  justify-items: center;

  /* grid-template-columns: 20% 60% 20%; */
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "aside main ."
    "footer footer footer";
  row-gap: 4rem;
}

#game-canvas {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(7, 65px);
  grid-auto-flow: row;
  gap: 0.3rem;
}

#game-canvas > div {
  height: 65px;
  width: 65px;
  text-align: center;
  vertical-align: middle;
}

#view-game-arena aside {
  grid-area: aside;
}

#view-game-arena header {
  grid-area: header;
  display: inline-flex;
  justify-content: center;
}

#view-game-arena header > div {
  display: inline;
}

#view-game-arena footer {
  grid-area: footer;
}

#footer-image {
  margin-left: 170px;
}

.footer-tiles-faces {
  width: 400px;
}
