* {
  /* border: 1px solid rgb(0 255 60); */
}

body {
  /* ToDO: this must be dynamically changeable form JS! */
  background-image: url("../assets/theme-2/futuristic-retro-landscape-s-neon-colors-sun-mountains-style-digital-cyber-surface-vector-illustration-163569210.jpeg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#view-game-arena {
  display: grid;
  grid-template-rows:
    4.5rem
    auto
    auto;
  grid-template-columns: auto 60% auto;
  grid-auto-flow: row;
  row-gap: 4rem;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  justify-content: center;
  justify-items: center;
  align-items: end;
}

#game-canvas {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(7, 65px);
  grid-auto-flow: row;
  gap: 0.3rem;
}

#view-game-arena aside {
  grid-area: aside;
}

#view-game-arena > header {
  grid-area: header;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.statistic-top {
  height: 2.5rem;
  width: 5rem;
  border-radius: 20px;
  background-color: rgb(73 5 210);
  color: white;
  text-align: center;
  line-height: 40px;
  margin: auto;
}

#view-game-arena footer {
  grid-area: footer;
}

#view-game-arena-footer-image img {
  max-width: 500px;
}
